<link rel="stylesheet" href="/stylesheet/dashboardstyle.css">

<body ng-controller='dashboardController'>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/">RoleManagement</a>
            </div>
            <ul class="nav navbar-nav">

                <li><a href="#!/">Home</a></li>
                <li><a href="#!login">login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><img src="\image\Profile.png" alt="Avatar" class="avatar" style="cursor:pointer" data-toggle="modal" data-target="#myModal2"></li>
            </ul>
        </div>
    </nav>



    <div class="container">
        <div class="row">
            <hr>
            <div class="col-md-8">
                <strong>Roles</strong>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#edit">Add Roles</button>
            </div>
            <span class="clearfix"></span>
            <hr>
        </div>
        <div class="table-data">
            <b>Search</b> <input type="text" id="txtsearch" ng-model="searchWord" placeholder="search" />
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><a href="#" ng-click="order ='ID';reverse=!reverse">ID</a></th>
                        <th>Role Name</th>
                        <th>Role Type</th>
                        <th>Effective From</th>

                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="user in Roles | filter:searchWord | itemsPerPage:10|orderBy:order:reverse">
                        <td>{{user.id}}</td>
                        <td>{{user.RoleName}}</td>
                        <td>{{user.RoleType}}</td>
                        <td>{{user.EffectiveFrom}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit" ng-click="GetRole(user)">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="" ng-click="DeleteRole(user.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--User Details Modal-->
    <div class="container">
        <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">User Profile</h4>
                    </div>

                    <div class="modal-body" style="max-height: 100px">
                        <img src="image\Profile.png" alt="Avatar" class="profile pull-left" style="cursor:pointer" data-toggle="modal" data-target="#myModal2"><br/>
                        <div class="name">
                            <p>{{userFullName}}</p>
                        </div>
                        <div class="mail">
                            <p>{{email}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="logout" ng-click="logout()" class="btn btn-info btn-md pull-right">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </button>
                    </div>

                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- modal -->

    </div>
    <!-- Add/Edit User Modal -->
    <div class="modal fade" id="edit" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" ng-model="titleText">{{modaltitle}}</h4>
                </div>
                <div class="modal-body">
                    <form name="Eform" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-3 required" for="RoleName">Role Name:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="rolename" id="RoleName" placeholder="Enter role name" ng-model="RoleDetails.RoleName" ng-maxlength="15" required>
                                <span style="color:red;" ng-show="Eform.rolename.$error.required"><i class='fas fa-exclamation-circle' style='font-size:12px;color:red'></i>Rolename Required</span>
                                <span style="color:red;" ng-show="Eform.rolename.$error.maxlength">Too Long!!</span>

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-3 required" for="RoleTypeId">Role Type:</label>
                            <div class="col-sm-7">
                                <div class="dropdown">
                                    <select name="roletype" id="RoleTypeId" ng-options="rt.ID as rt.Name for rt in RoleTypes" ng-model="RoleDetails.RoleTypeId" required>
                                        <option value="">Select RoleType</option>
                                    </select>
                                    <span style="color:red;" ng-show="Eform.roletype.$error.required"><i class='fas fa-exclamation-circle' style='font-size:12px;color:red'></i>RoleType Required</span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 required" for="EffectiveFrom">Effective From:</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="EffectiveFrom" name="EDATE" placeholder="MM/DD/YYY" type="date" ng-model="RoleDetails.EffectiveFrom" ng-model-options="{timezone:'UTC'}" required />
                                <span style="color:red;" ng-show="Eform.EDATE.$error.required"><i class='fas fa-exclamation-circle' style='font-size:12px;color:red'></i>Date Required</span>
                            </div>
                        </div>

                         <div class="form-group">
                             <label class="control-label col-sm-3 required" for="UploadDocument">File Upload:</label>
                         <div class="col-sm-7">
                            <input type="file" file-modal="myfile" /><br/>
                            <button type ="submit" class="btn btn-info" ng-click="uploadFile()">UPLOAD</button> 
                         </div>
                         </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" ng-disabled="Eform.rolename.$error.required || Eform.EDATE.$error.required || Eform.roletype.$error.required" ng-click="saveRole()" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <center> <dir-pagination-controls></dir-pagination-controls></center>
    </footer>

</body>
